[Unit]
Description=Pi-Hole

[Container]
ContainerName=pihole
Image=docker.io/pihole/pihole:latest
Pod=pihole.pod
Volume=pihole-etc.volume:/etc/pihole:z
Volume=pihole-dnsmasq.volume:/etc/dnsmasq.d:z
Environment=TZ="America/New_York"

[Service]
Restart=on-failure
TimeoutStartSec=300
AutoUpdate=registry

[Install]
WantedBy=default.target
