[Unit]
Description=Unbound recursive DNS for Pi-hole

[Container]
Pod=pihole.pod
ContainerName=unbound-pihole
Image=ghcr.io/nzwulfin/unbound:latest

[Service]
Restart=on-failure
TimeoutStartSec=300
 
[Install]
WantedBy=default.target
