[Unit]
Description=Pi-Hole
Requires=unbound.service
After=unbound.service

[Container]
ContainerName=pihole
Image=docker.io/pihole/pihole:latest
Pod=pihole.pod

AutoUpdate=registry

Volume=pihole-etc.volume:/etc/pihole
Volume=pihole-dnsmasq.volume:/etc/dnsmasq.d

Environment=TZ="America/New_York"

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=default.target
