[Unit]
Description=Pi-Hole on HUM core-runtime

[Container]
ContainerName=pihole
Image=ghcr.io/nzwulfin/pihole:latest
Pod=pihole.pod
Volume=systemd-pihole-etc:/etc/pihole:z
Volume=systemd-pihole-dnsmasq:/etc/dnsmasq.d:z
Environment=TZ="America/New_York"
AutoUpdate=registry

[Service]
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=default.target
